*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #912978;
    height: 10vh;
    padding: 0.3rem;
}
header img{
    height: 8vh;
    width: 5vw;
    margin: 0.5rem;
}
.navbar img{
    height: 60px;
    width: 60px;
    top: -10px;
    border-radius: 50px;
    position: relative;
}
.navbar{
    height: 70px;
    width: 40vw;
    float: right;
    padding: 0.3rem;
    margin: 0 auto;
}
.dropdownmenu {
    display: flex;
    margin: 1rem 0 0;
    justify-content: space-between;
}
.dropdownmenu ul {
    display: none;
}
.dropdownmenu,
.dropdownmenu ul {
    list-style-type: none;
    padding: 0px;
}
a {
    display: block;
    width: 7vw;
    height: 4vh;
    line-height: 35px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}
.dropdownmenu li {
    font-size: 1.3rem;
    position: relative;
}
.dropdownmenu li a:hover{
    color: #342647;
}
.dropdownmenu li:hover ul {
    display: block;
    position: absolute;
    top: 41px;
    left: 0px;
    border: 1px solid #000;
    z-index: 100;
}
.sous li a{
    color: #000;
    background-color: #FFF;
}
.sous li a:hover{
    background-color: #912978;
    color: #FFF;
}
.accueil{
    padding: 150px;
    height: 60vh;
    width: 100%;
    color: #fff;
    background-image: linear-gradient(rgba(34, 34, 34, 0.748),rgba(34, 34, 34, 0.748)),
    url(../images/fond-accueil.png);
}
.accueil h1{
    margin: 3rem;
    font-weight: 100;
}
.accueil button{
    height: 50px;
    border-radius: 30px;
    width: 20rem;
    border: 3px solid #912978;
    color: #fff;
    margin: 20px;
    background-color: #ffffff00;
}
.accueil button:hover{
    background-color: #000;
}
.menu{
    height: 419vh;
}
.menuPadding{
    padding: 2.2rem;
}
.h1{
    font-size: 2.5rem;
    text-align: center;
    color: #912978;
    margin: 1.9rem;
}
.menu .im img{
    height: 60vh;
    width: 60rem;
    margin: 0.8rem;
}
.action{
    display: flex;
    height: 20vh;
    justify-content: center;
    width: 100%;
}
.action .actionEl{
    height: 10vh;
    width: 40rem;
    margin: 1rem;
    text-align: center;
}
.action .actionEl div{
    height: 13vh;
    width: 7vw;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    border: 3px solid #912978;
}
.action .actionEl img{
    height: 10vh;
    width: 5vw;
    border-radius: 20%;
    margin: 0.7rem;
}

.action2{
    display: flex;
    height: 50vh;
    justify-content: center;
    width: 100%;
}
.action2 .actionEl2{
    height: 44vh;
    width: 24vw;
    border: 3px solid #912978;
    border-radius: 10px;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
}
.action2 .actionEl2 div{
    height: 13vh;
    width: 7vw;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    border: 3px solid #912978;
}
.action2 .actionEl2 img{
    height: 10vh;
    width: 5vw;
    border-radius: 20%;
    margin: 0.7rem;
}
.menu h2{
    margin: 0.8rem;
    font-size: 1.7rem;
}
.menu h3{
    text-align: center;
    margin: 0.8rem;
    font-size: 1.3rem;
}
.menu p{
    line-height: 1.3;
    font-size: 1.3rem;
}
.el2 img{
    height: 85vh;
    width: 100%;
}
.el2 span{  
    background-color: #912978;
    border-radius: 20px;
    padding: 0.01px 0.5vw;
}
.el3 img{
    height: 85vh;
    width: 100%;
}
.el3 span{  
    background-color: #912978;
    border-radius: 20px;
    padding: 0.01px 0.5vw;
}
.foot{
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(rgba(145, 41, 121, 0.546),rgba(145, 41, 121, 0.546)),
    url(../images/footer.png);
    background-size: cover;
}
.foot-inpt{
    height: 6vh;
    width: 35vw;
    margin: auto;
    padding: 5rem;
}
.foot-inpt input{
    height: 5.5vh;
    width: 19vw;
    border: none;
    overflow: hidden;
}
.foot-inpt button{
    height: 5.3vh;
    width: 7vw;
    background-color: #912978;
    color: #fff;
    border: none;
}
footer{
    height: 8vh;
    background-color: #342647;
    padding: 0.1rem 3rem;
}
footer h6{
    font-size: 1.2rem;
    text-align: center;
    color: #fff;   
    margin: 2rem;
}