*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #912978;
    height: 10vh;
    padding: 0.3rem;
}
header img{
    height: 8vh;
    width: 5vw;
    margin: 0.5rem;
}
.navbar img{
    height: 60px;
    width: 60px;
    top: -10px;
    border-radius: 50px;
    position: relative;
}
.navbar{
    height: 70px;
    width: 40vw;
    float: right;
    padding: 0.3rem;
    margin: 0 auto;
}
.dropdownmenu {
    display: flex;
    margin: 1rem 0 0;
    justify-content: space-between;
}
.dropdownmenu ul {
    display: none;
}
.dropdownmenu,
.dropdownmenu ul {
    list-style-type: none;
    padding: 0px;
}
a {
    display: block;
    width: 7vw;
    height: 4vh;
    line-height: 35px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}
.dropdownmenu li {
    font-size: 1.3rem;
    position: relative;
}
.dropdownmenu li a:hover{
    color: #342647;
}
.dropdownmenu li:hover ul {
    display: block;
    position: absolute;
    top: 41px;
    left: 0px;
    border: 1px solid #000;
    z-index: 100;
}
.sous li a{
    color: #000;
    background-color: #FFF;
}
.sous li a:hover{
    background-color: #912978;
    color: #FFF;
}
.menu{
    height: 63vh;
    width: 100%;    
    display: flex;
    justify-content: space-between;
}
.menu div{
    height: 55vh;
    margin: 2rem;
    text-align: center;
}
.maDiv{
    width: 40vw;
}
.menu .maDiv2{    
    padding: 1.5rem;
    font-size: 1.5rem;
}
.maDiv2 p{
    line-height: 1.4;
    width: 45vw;
    font-size: 1.8rem;
    margin: 1rem;
    font-weight: 100;
}
.maDiv img{    
    padding: 1.5rem;
    width: 40vw;
}

.foot{
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(rgba(145, 41, 121, 0.546),rgba(145, 41, 121, 0.546)),
    url(../images/footer.png);
    background-size: cover;
}
.foot-inpt{
    height: 6vh;
    width: 35vw;
    margin: auto;
    padding: 5rem;
}
.foot-inpt input{
    height: 5.5vh;
    width: 19vw;
    border: none;
    overflow: hidden;
}
.foot-inpt button{
    height: 5.3vh;
    width: 7vw;
    background-color: #912978;
    color: #fff;
    border: none;
}
footer{
    height: 8vh;
    background-color: #342647;
    padding: 0.1rem 3rem;
}
footer h6{
    font-size: 1.2rem;
    text-align: center;
    color: #fff;   
    margin: 2rem;
}