*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #912978;
    height: 10vh;
    padding: 0.3rem;
}
header img{
    height: 8vh;
    width: 5vw;
    margin: 0.5rem;
}
.navbar img{
    height: 60px;
    width: 60px;
    top: -10px;
    border-radius: 50px;
    position: relative;
}
.navbar{
    height: 70px;
    width: 40vw;
    float: right;
    padding: 0.3rem;
    margin: 0 auto;
}
.dropdownmenu {
    display: flex;
    margin: 1rem 0 0;
    justify-content: space-between;
}
.dropdownmenu ul {
    display: none;
}
.dropdownmenu,
.dropdownmenu ul {
    list-style-type: none;
    padding: 0px;
}
a {
    display: block;
    width: 7vw;
    height: 4vh;
    line-height: 35px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}
.dropdownmenu li {
    font-size: 1.3rem;
    position: relative;
}
.dropdownmenu li a:hover{
    color: #342647;
}
.dropdownmenu li:hover ul {
    display: block;
    position: absolute;
    top: 41px;
    left: 0px;
    border: 1px solid #000;
    z-index: 100;
}
.sous li a{
    color: #000;
    background-color: #FFF;
}
.sous li a:hover{
    background-color: #912978;
    color: #FFF;
}