*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #912978;
    height: 10vh;
    padding: 0.3rem;
}
header img{
    height: 8vh;
    width: 5vw;
    margin: 0.5rem;
}
.navbar img{
    height: 60px;
    width: 60px;
    top: -10px;
    border-radius: 50px;
    position: relative;
<<<<<<< HEAD
    width: 100%;
    height: 4.2rem;
    box-sizing: content-box;
<<<<<<< HEAD
=======
    
>>>>>>> bb252b6329ab5ad3621e3b821e2fd0135fbec2ff
=======
>>>>>>> neko
}
.navbar{
    height: 70px;
    width: 40vw;
    float: right;
    padding: 0.3rem;
    margin: 0 auto;
}
.dropdownmenu {
    display: flex;
    margin: 1rem 0 0;
    justify-content: space-between;
}
.dropdownmenu ul {
    display: none;
}
.dropdownmenu,
.dropdownmenu ul {
    list-style-type: none;
    padding: 0px;
}
a {
    display: block;
    width: 7vw;
    height: 4vh;
    line-height: 35px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}
.dropdownmenu li {
    font-size: 1.3rem;
    position: relative;
}
.dropdownmenu li a:hover{
    color: #342647;
}
.dropdownmenu li:hover ul {
    display: block;
    position: absolute;
    top: 41px;
    left: 0px;
    border: 1px solid #000;
    z-index: 100;
}
.sous li a{
    color: #000;
    background-color: #FFF;
}
<<<<<<< HEAD

.link-div .menu-div:hover {
    outline: none;
    color: orange;
    text-decoration : underline rgb(255, 255, 255);
}

.menu-all hr{
    border: 0.3px solid #912978;
}

<<<<<<< HEAD
=======
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 0.3px solid #912978;
}

.big{
    color: orange;
    font-weight: 700;
}

.big:hover{
    color: rgb(166, 162, 162);
}


<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 6ac388e44fee24d12d60e5bdb4e36986ea5d11fa
=======
=======
>>>>>>> 65d40098978dab4ba5548ad99cd1521358cd3222
@media screen and (max-width: 47rem) {
    
}


<<<<<<< HEAD
>>>>>>> ba93f93bbc3c9f77ea4a77b46c197cad0402860b
=======
>>>>>>> 65d40098978dab4ba5548ad99cd1521358cd3222
>>>>>>> bb252b6329ab5ad3621e3b821e2fd0135fbec2ff
=======
.sous li a:hover{
    background-color: #912978;
    color: #FFF;
}
>>>>>>> neko
