.body-forum{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #F3F0F0;

}
.container{
    position: relative;
    width: 1200px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: rgb(48, 9, 9);
    display: flex;
}
/* menu gauche */
.container .leftSide{
    position: relative;
    flex: 30%;
    background:  #531f47;
    border-right: 1px solid rgba(0, 0, 0, 0.6);
}
.leftSide h1{
    margin-top: 20px;
    text-align: center;
    color: #fff;
}
.link-contain ul{
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}
.link-contain .link-newCht{
    width: 90%;
    height: 50px; 
    margin-top: 40px;
    margin-left: 12px;
    padding-top: 10px;
    padding-left: 30px;
    background: #342647;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 1px 0px 4px 2px #0000002a;
}
.link-newCht .iconWrite {
    position: relative;
    margin-top: -8px;
    margin-right: 8px;
    font-size: 40px;
    float: right;
  }
  .link-contain .link-newCht:hover{
    border: 2px solid #a21b83;
  }

  .link-contain .link-memb{
    padding-bottom: 30px;
  }

  .m_modal{
    position: absolute;
    width: 60%;
    /* height: 400px; */
    max-width: 90%; 
     height: calc(40vh - 30px);
    background: rgb(223, 218, 218);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.06),2px 2px 5px 3px rgba(0,0,0,0.06);
    margin-top: 50px;
    border: 3px solid #531f47;
    z-index: 1000;
    /* display: none; */
  }
  .m_modal h4{
    font-size: 15px;
    margin-top: 10px;
    margin: 20px;
  }

  .m_modal .newChatt{
    width: 100%;
    height: 50px;
    background-color:#531f47;
  }

  .newChatt h5{
    padding: 20px;
    color: #fff;
  }

/* menu droit */
.container .rightSide{
    position: relative;
    flex: 70%;
    background-color: rgb(239, 236, 241);
   
}
.header-forum{
    position: relative;
    width: 100%;
    height: 80px;
    background: #531f47;
}
.boxForm{
    position: relative;
    text-align: center;
    padding-top: 20px;
}

.container .rightSide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
}
.boxForm  .inputText{
    width: 80%;
    height: 40px;
}

.boxForm .btnSubmit{
    width: 10%;
    height: 40px;
    padding-right: 5px; 
}
.chatBox{
   position: relative;
   width: 100%;
   height: calc(100% - 120px);
   padding: 50px;
   overflow-y: auto;
   cursor: pointer;
}

.my_mesges{
   position: relative; 
   display: flex;
   width: 100%;
   margin: 5px 0;
}

.my_mesges img{ 
   border-radius: 100%;
   height: 70px;
}
.bloc_mesg{
    position: relative;
    width: 100%;
    height: 8Opx;
    background-color: rgb(62, 202, 106);
    box-shadow: 0 1px 1px O rgba(0, 0, 0, 0.06),
    0 2px 5px 0 rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}
/* box write message */
.enter-forum{
    position: relative;
    width: 100%;
    height: 80px;
   background-color: #342647;     
}

  .enter-forum .InputText{
    text-align: center;
    justify-content: center;
  }
  
  .InputText{
    width: 80%;
    height: 40px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
  }

  .box-msger .btn-img{
   margin-top: 4px;
  }
  