.container{
    width: 100%;
    margin: 0 auto;
}

.content{
    display: flex;
}

.content .item-1{
    background-color: rgb(233, 232, 232, 0.5);
    margin: .5rem 0 0 .5rem;
    width: 30%;
    padding: 1rem;
    box-shadow: .1px 0px .5px 1px rgb(171, 171, 171);
}

.content .item-2{
    background-color: rgb(233, 232, 232, 0.5);
    margin: .5rem .5rem 0 .5rem;
    width: 70%;
    padding: 1rem;
    box-shadow: .1px 0px .5px 1px rgb(171, 171, 171);
}

.content h3{
    text-align: center;
    padding: .5rem 1rem;
}

.content hr{
    width: 50%;
    text-align: center;
    margin:2rem auto;
    margin-top: 0;
    border: 1.2px solid  #912978;
}

.img-image{
    text-align: center;
}

.item-1 .profile-img{
    width: 100px;
    height: 100px;
    margin: 0px auto;
    justify-content: space-between;

}

p{
    line-height: 2;
    text-align: justify;
}

.item-avatar li{
    line-height: 2;
}

.modifier{
    border: none;
    outline: none;
    background-color: #912978;
    margin-top: 1.2rem auto;
    padding: .5rem 1.3rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    justify-content: center;
}

.btn-m{
    text-align: center;
    margin: 1rem;
}

