*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 90px;
    width: 100%;
    background-color: #912978;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
header .head{
    height: 50px;
    width: 2rem;
}

header div img{
    height: 50px;
    width: 100px;
}
a{
    text-decoration: none;
}
header ul{
    float: right;
    list-style-type: none;
    display: flex
}
header ul li{
    color: #fff;
    margin: 1rem;
}
header .enTete img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
.accueil{
    padding: 150px;
    height: 60vh;
    width: 100%;
    color: #fff;
    background-image: linear-gradient(rgba(34,34,34,0.6),rgba(34,34,34,0.6)),
    url(../images/accueil.jpg);
}
.accueil h1{
    margin: 3rem;
    font-weight: 100;
}
.accueil button{
    height: 50px;
    border-radius: 30px;
    width: 20rem;
    border: 3px solid #912978;
    color: #fff;
    margin: 20px;
    background-color: #ffffff00;
}
.accueil button:hover{
    background-color: #000;
}

.menu{
    width: 80vw;
    height: 80vh;
    margin: auto;
    padding: 3rem;
}
.menu h1{
    color: #912978;
}
.menu h2{
    line-height: 1.5;
}
.menu h2 span{
    font-size: 1.2rem;
    font-weight: 100;
}
.menuDiv{
    display: flex;
    justify-content: center;
}
.menuDiv div{
    margin: 2rem 3rem 2rem 0;
}
.menuDiv .div1{
    height: 55vh;
    width: 30vw;
    border-radius: 5px;
    background-image: linear-gradient(rgba(34,34,34,0.6),rgba(34,34,34,0.6)),
    url(../images/biblio.png);
    background-size: cover;
}
.menuDiv .div2{
    height: 55vh;
    width: 30vw;
    border-radius: 5px;
    background-image: linear-gradient(rgba(34,34,34,0.6),rgba(34,34,34,0.6)),
    url(../images/potentiel.jpg);
    background-size: cover;
}
.menuDiv .div3{
    height: 55vh;
    width: 30vw;
    border-radius: 5px;
    background-image: linear-gradient(rgba(34,34,34,0.6),rgba(34,34,34,0.6)),
    url(../images/bienvenue.png);
}
.menuDiv .div1 div{
    height: 29vh;
    width: 30vw;
    position: relative;
    padding: 2rem;
    top: 15rem;
}
.menuDiv .div1 div:hover{
    background-color: rgba(255, 255, 255, 0.543);
    color: #000;
}
.menuDiv .div2 div{
    height: 29vh;
    width: 30vw;
    position: relative;
    padding: 2rem;
    top: 15rem;
}
.menuDiv .div2 div:hover{
    background-color: rgba(255, 255, 255, 0.543);
    color: #000;
}
.menuDiv .div3 div{
    height: 29vh;
    width: 30vw;
    position: relative;
    padding: 2rem;
    top: 15rem;
}
.menuDiv .div3 div:hover{
    background-color: rgba(255, 255, 255, 0.543);
    color: #000;
}
.menuDiv p{
    color: #fff;
    font-size: 1.2rem;
}

.foot{
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(rgba(145, 41, 121, 0.546),rgba(145, 41, 121, 0.546)),
    url(../images/footer.png);
    background-size: cover;
}
.foot-inpt{
    height: 6vh;
    width: 35vw;
    margin: auto;
    padding: 5rem;
}
.foot-inpt input{
    height: 5.5vh;
    width: 19vw;
    border: none;
    overflow: hidden;
}
.foot-inpt button{
    height: 5.3vh;
    width: 7vw;
    background-color: #912978;
    color: #fff;
    border: none;
}
footer{
    height: 8vh;
    background-color: #342647;
    padding: 0.1rem 3rem;
}
footer h6{
    font-size: 1.2rem;
    text-align: center;
    color: #fff;   
    margin: 2rem;
}